.wrapper {
  .title {
    font-family: var(--font-alternate);
    font-weight: 400;
    line-height: 1.33;
    text-align: center;
    text-transform: uppercase;
  }

  .divider {
    margin: auto;
  }
}
