.menuItem {
  align-items: center;
  display: flex;
  font-family: var(--font-alternate);
  font-weight: 400;
  margin: 0 1rem;
  place-content: center flex-end;
  position: relative;
  text-transform: uppercase;
  transition: background-color 0.7s ease;

  &:hover {
    text-decoration: none;
  }

  &.active {
    color: var(--link-color);
    cursor: default;
  }
}
