@font-face {
  font-display: swap;
  font-family: 'Styrene A Web';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/StyreneAWeb-Regular.eot');
  src:
    url('/fonts/StyreneAWeb-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/StyreneAWeb-Regular.woff2') format('woff2'),
    url('/fonts/StyreneAWeb-Regular.woff') format('woff'),
    url('/fonts/StyreneAWeb-Regular.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  width: 100%;
}

body {
  max-height: 100vh;
  padding-bottom: var(--padding-background);
  transition-duration: 0.9s;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1);

  &.showed[data-scroll-locked] {
    padding: 0%;

    main {
      overflow-y: hidden;
    }
  }

  &.showed {
    padding-top: 0;
    transition: padding 0.5s ease-in-out;

    main {
      opacity: 1 !important;
      transform: translateY(0) !important;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
